/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
        table{
            font-size: 15px !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
        table{
            font-size: 15px !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
        table{
            font-size: 15px !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
        table{
            font-size: 15px !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
        table{
            font-size: 15px !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 9px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 140px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }
    #radio {
        margin-top: 10px;
        margin-bottom:10px;
        
    }
        #radio input {
            width: 15px;
            height: 15px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 0px;
        }
        #chia{
            margin-left: 100px;
        }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


        p {
            float: left !important;
            display: inline-block;
        }

        #search-form {
            float: left !important;
            display: inline-block;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            margin-left: 9px;
        }


            #search-form input {
                text-align: center;
                background-color: #222831;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
                margin-left: 10px;
                margin-right: 20px;
            }

        #MaSan {
            display: inline-block;
            background-color: #222831;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
            width: 260px;
            margin-left: 10px;
            margin-right: 20px;
        }

        #gio {
            width: 140px;
        }

        #maTK {
            width: 100px;
        }

        #reset {
            font-size: 20px;
            margin-right: 5px;
        }

        #radio {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #radio input {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0px;
            }

        #chia {
            margin-left: 100px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 9px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 140px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }
    #radio {
        margin-top: 10px;
        margin-bottom:10px;
        
    }
        #radio input {
            width: 15px;
            height: 15px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 0px;
        }
        #chia{
            margin-left: 100px;
        }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 9px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 140px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }
    #radio {
        margin-top: 10px;
        margin-bottom:10px;
        
    }
        #radio input {
            width: 15px;
            height: 15px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 0px;
        }
        #chia{
            margin-left: 100px;
        }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 9px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 140px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }
    #radio {
        margin-top: 10px;
        margin-bottom:10px;
    }
    #radio input{
        width: 20px;
        height: 20px;
        /*margin-top: 10px;
        margin-bottom: 10px;*/
        font-size:20px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 9px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 140px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }
    #radio {
        margin-top: 10px;
        margin-bottom:10px;
    }
    #radio input{
        width: 20px;
        height: 20px;
        /*margin-top: 10px;
        margin-bottom: 10px;*/
        font-size:20px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:120px;
                        color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
text-align: center; color: #ee1e46; font-size: 50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 60px;
    }


        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 40px;
    }

    #maTK {
        width: 100px;
    }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
color-scheme: dark;color-scheme: dark;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL Scolor-scheme: dark;OURCE */
input {
color-scheme: dark;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:100px;
                color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */


    p {
        float: left !important;
        display: inline-block;
    }

    #search-form {
        float: left !important;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 60px;
    }
    

        #search-form input {
            text-align: center;
            background-color: #222831;
            border: 1px solid white;
            border-radius: 3px;
            color: white;
            margin-left: 10px;
            margin-right: 20px;
        }

    #MaSan {
        display: inline-block;
        background-color: #222831;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        width: 260px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #gio {
        width: 40px;
    }

    #maTK {
        width: 100px;
    }
    #reset{
        font-size: 20px;
        margin-right: 5px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE *//* BEGIN EXTERNAL SOURCE */
input {
color-scheme: dark;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
color-scheme: dark;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
margin-left: 5px;width:100px;
                color:white
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
