/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active{
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px; font-size: x-large
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px; font-size: x-large
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, /* BEGIN EXTERNAL SOURCE */
p {
text-transform: uppercase
}
/* END EXTERNAL SOURCE */
./* BEGIN EXTERNAL SOURCE */
p {
text-transform: uppercase
}
/* END EXTERNAL SOURCE */

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
text-transform: uppercase
}
/* END EXTERNAL SOURCE */
ml-auto a:active{
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:active, a:hover {
            color: #ee1e46;
        }
    
/* END EXTERNAL SOURCE */
