/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px; font-size: x-large;display:flex; flex-direction: column; align-items:center
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
text-transform: uppercase
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top: 20px;
}
/* END EXTERNAL SOURCE */
              margin: 0 10px;
                    color: black;
                }

                .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    text-align: center;
                }
            
/* END EXTERNAL SOURCE */
           a {
                        margin: 0 10px;
                        color: black;
                    }

                    .footer {
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        text-align: center;
                    }
                
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ml-auto a:hover, .ml-auto a:active {
            font-weight: bold !important;
            color: #ee1e46 !important;
        }
    
/* END EXTERNAL SOURCE */
