/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    .btn.button-6:hover {
        border-color: #7c8a91;
        background: transparent;
        color: #7c8a91;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }
    .button-6 {
        color: #fff;
        background-color: #7c8a91;
        border-color: #7c8a91;
    }


/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    .btn.button-6:hover {
        border-color: #7c8a91;
        background: transparent;
        color: #7c8a91;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }
    .button-6 {
        color: #fff;
        background-color: #7c8a91;
        border-color: #7c8a91;
    }


/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }


/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }


/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }


/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
 }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: space-around;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
mL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
margin-right: 60px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEG/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
IN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    .btn.button-1:hover {
        border-color: #05b033;
        background: transparent;
        color: #05b033;
    }
    .btn.button-2:hover {
        border-color: #0588a6;
        background: transparent;
        color: #0588a6;
    }
    .btn.button-3:hover {
        border-color: #d49008;
        background: transparent;
        color: #d49008;
    }
    .btn.button-4:hover {
        border-color: #285aed;
        background: transparent;
        color: #285aed;
    }
    .btn.button-5:hover {
        border-color: #d42a08;
        background: transparent;
        color: #d42a08;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }
    .button-2 {
        color: #fff;
        background-color: #0588a6;
        border-color: #0588a6;
    }
    .button-3 {
        color: #fff;
        background-color: #d49008;
        border-color: #d49008;
    }
    .button-4 {
        color: #fff;
        background-color: #285aed;
        border-color: #285aed;
    }
    .button-5 {
        color: #fff;
        background-color: #d42a08;
        border-color: #d42a08;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
margin-right: 60px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
margin-right: 60px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }
    p{
        font-size: x-large;
    }
    i {
        font-size: xx-large;
        margin: 25px 0;
    }
    .button-1 {
        color: #fff;
        background-color: #05b033;
        border-color: #05b033;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border: 2px solid grey; height: 595px !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
margin-right: 60px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    #top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #bot {
        display: flex;
        justify-content: center;
    }
    .button-link {
        height: 215px;
        width: 355px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURdiv {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
CE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
AL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN Ei {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
XTERNAL SOURCE */
a {
margin-right: 60px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */




/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margi      border: 1px solid white;
            border-radius: 3px;
            coli {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
or: white;
       a {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
     margin-left: 20px;
            margin-right: 30px;
        }

    #reset {
        font-size: 20px;
        margin-right: 5px;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
