/* BEGIN EXTERNAL SOURCE */

        .sancon-container {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 700;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                color: white;
            }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
height: 43px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
font-size: xx-large; font-weight: 600;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
position: relative; top: 50px; left: 50px; width: 200px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: red;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: green;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color: #ee1e46;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .sancon-container {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 700;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                color: white;
            }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
height: 43px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
font-size: xx-large; font-weight: 600;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
position: relative; top: 50px; left: 50px; width: 200px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: red;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: green;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color: #ee1e46;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .sancon-container {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 700;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                color: white;
            }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
height: 43px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
font-size: xx-large; font-weight: 600;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
position: relative; top: 50px; left: 50px; width: 200px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: red;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: green;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color: #ee1e46;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .sancon-container {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 700;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                color: white;
            }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
height: 43px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin-right: 10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
font-size: xx-large; font-weight: 600;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
button {
position: relative; top: 50px; left: 50px; width: 200px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: red;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
section {
background-color: green;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
font-size: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color: #ee1e46;
}
/* END EXTERNAL SOURCE */
