/* BEGIN EXTERNAL SOURCE */

    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }

    h5 {
        margin-top: 5px
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; align-items: center; justify-content: center; flex-direction: column;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background-color: #ee1e46; padding: 16px 84px; color: #fff; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 border: 3px solid rgba(255, 255, 255, 0.1); width: 487px; display: flex; flex-direction: column; padding: 0 30px; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 225px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
word-wrap:break-word
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; justify-content: space-between; margin-bottom: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }

    h5 {
        margin-top: 5px
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; align-items: center; justify-content: center; flex-direction: column;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background-color: #ee1e46; padding: 16px 84px; color: #fff; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 border: 3px solid rgba(255, 255, 255, 0.1); width: 487px; display: flex; flex-direction: column; padding: 0 30px; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 225px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
word-wrap:break-word
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; justify-content: space-between; margin-bottom: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }

    h5 {
        margin-top: 5px
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; align-items: center; justify-content: center; flex-direction: column;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background-color: #ee1e46; padding: 16px 84px; color: #fff; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 border: 3px solid rgba(255, 255, 255, 0.1); width: 487px; display: flex; flex-direction: column; padding: 0 30px; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 225px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
word-wrap:break-word
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; justify-content: space-between; margin-bottom: 20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }

    h5 {
        margin-top: 5px
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; align-items: center; justify-content: center; flex-direction: column;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background-color: #ee1e46; padding: 16px 84px; color: #fff; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 border: 3px solid rgba(255, 255, 255, 0.1); width: 487px; display: flex; flex-direction: column; padding: 0 30px; width: 500px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 225px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
word-wrap:break-word
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: flex; justify-content: space-between; margin-bottom: 20px;
}
/* END EXTERNAL SOURCE */
