/* BEGIN EXTERNAL SOURCE */

        .inputbox ion-icon {
            right: 20px;
            top: 15px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .inputbox ion-icon {
            right: 20px;
            top: 15px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .inputbox ion-icon {
            right: 35px;
        }
    
/* END EXTERNAL SOURCE */
